<head>
    <style>
        /*body{
            background-color:#fff;
        }*/

        #mapFloor {
            position: fixed;
            height: 100%;
            width: 60%;
            padding: 20px;
            border-right: 3px solid;
            border-width: thick;
        }

        #mapFloor canvas {
            height: 90%;
            width: 100%;
            border: 1px solid;
        }

        #details {
            position: absolute;
            width: 36%;
            margin-left: 63.1%;
        }

        h4, p {
            display: inline;
        }

        #date {
            position: fixed;
            padding: 10px;
            border: 2px solid;
            height: 5%;
            width: 35%;
        }

        #arrangeBy {
            position: fixed;
            padding: 10px;
            border: 2px solid;
            height: 5%;
            width: 35%;
            margin-top: 4%;
        }

        #arrangeBy select {
            margin: 5px;
            border: 1px solid;
        }

        h4 {
            color: #0148ba;
        }

        #modules {
            position: fixed;
            margin-top: 8.2%;
            /*margin-left: 1%;*/
            width: 36.7%;
            border: 2px solid;
            height: 74%;
            overflow: scroll;

        }

        .moduleBlock {
            /* height: 25%;*/
            position: relative;
            border: 1px solid;
            box-shadow: 10px 10px 5px #888888;
            margin: 20px 10px 10px 10px;
            background-color: #f5fffa;
            border-radius: 10px;
        }

        .moduleName {
            position: relative;
            margin: 5px 0px 10px 50px;
            /*margin-left: 20px;*/
            width: 80%;
            height: 100%;
            font-size: 18px;
            font-weight: bold;
            color: mediumblue;
            /*background-color: #f0f0f5;*/

            /*border-radius: 3px;*/
        }

        .module span img {
            margin-right: 20px;
            float: right;
        }

        .more {
            /*border: 2px solid;*/
            float: left;
            margin-left: 10px;
        }

        .module {
            position: relative;

            width: 100%;
            height: 30%;
            /*border: 1px dashed;*/
        }

        .group {
            display: none;
            margin: 5px 20px 10px 20px;
        }

        #groupStudent {
            margin: 5px 10px 10px 5px;
            padding: 20px 20px 20px 20px;;
            border: 1px solid;
            border-radius: 10px;
            background-color: #000c48;
            box-shadow: 10px 10px 5px #888888;
            display: none;
        }

        #selection {
            position: fixed;
            width: 310px;
            height: 50px;
            /*margin-top: 40%;*/
            top: 92%;
            left: 70%;
        }

        #selection div {

            width: 60px;
            height: 30px;
            border: 3px solid;
            border-radius: 50%;
            float: left;
            margin: 5px;
            padding-left: 25px;
        }

        #selection div img {
            width: 30px;
        }

    </style>
</head>
<template name="plan">

    <div id="mapFloor">
        <!-- <img src="/images/bright room.png"/> -->
        <!-- 		{{#each d in data}}
            {{d.courseID}}
            {{student}}
        {{/each}} -->


        <canvas id="floorPlan" width="1200" height="800">


        </canvas>
    </div>

    <div id="details">
        <div id="date">

            <h4>Date:</h4>
            <p> {{info.date}} {{info.month}} {{info.year}}</p>&nbsp;
            <h4>Time:</h4>
            <p> {{info.hour}}:{{info.minute}}</p>&nbsp;
            <h4>Venue:</h4>
            <p> {{info.venueName}}</p>
        </div>

        <!-- <div id="planVenue"><h4>Venue:</h4>
            <p> {{info.venueName}}</p></div> -->

        <div id="arrangeBy">
            <select>
                <option>Sort By</option>
                <option value="Alphabetical">Alphabetical</option>
                <option value="Random">Random</option>
                <option value="Ascending">Ascending Student Number</option>
                <option value="Descending">Descending Student Number</option>
            </select>

            <button class="btn btn-info" id="autoFill">Auto Fill</button>
        </div>


        <div id="modules">
            {{#each d in data}}

                <div class="moduleBlock">
                    <div class="module">
                        <span id="addRemove"><img class="add" data-toggle="tooltip" data-placement="top" title="add modules" src="/images/addButton.png" alt="{{d.moduleID}} {{d.id}}"
                                                  width="20"/></span>

                        <img class="more"  data-toggle="tooltip" data-placement="top" title="show groups" src="/images/moreDetails.png" alt="{{d.id}}" width="30"/>
                        <div class="moduleName">
                            <p id="mname">{{d.module}}</p>
                        </div>

                    </div>

                

				<div class="group">
				    {{#each g in d.course}}
					<button id="groupName" class="btn btn-primary" width="20%">
                    <span id="addRemove"><img class="add" src="/images/addButton.png" width="20" alt="{{g.prog.courseID}} {{d.id}}"/></span>&nbsp;
			<!--		this bit here-->

                   
                    {{g.prog.courseName}}
                        <!-- <span><img class="moreStudent" src="/images/more.png" width="20"/></span>-->
                        <span class="caret"></span> 
                    </button>

                    <div id="groupStudent">
                        {{#each s in g.students}}
                        <button>
                            {{s.firstName}} {{s.lastName}}
                        </button>
     
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                </div>

            {{/each}}
        </div>
        <div id="selection">
            <div><a href="/newPlan/chooseVenue/">
                <img src="/images/backarrow.png" class="img-rounded"/>
            </a></div>
            <div id="clear"><a href="#">
                <img src="/images/cancel.png" class="img-rounded"/>
            </a></div>
            <div id="done">
                <img src="/images/done.png" class="img-rounded done"/>
            </div>
        </div>

    </div>
</template>