#mapFloor {
    position: fixed;
    height: 100%;
    width: 60%;
    padding: 20px;
    border-right: 3px solid;
    border-width: thick;
}

#mapFloor img {
    height: 90%;
    width: 100%;
    border: 1px solid;
}

#details {
    position: relative;
    margin-left: 63.5%;
}

h4, p {
    display: inline;
}

#date, #planVenue {
    padding: 10px;
    border: 1px solid;
}

#arrangeBy {
    padding: 10px;
    border: 1px solid;
}

#arrangeBy select {
    margin: 5px;
    border: 1px solid;
}

h4 {
    color: #0148ba;
}

#modules {
    position: relative;
    height: 500px;

}

.moduleBlock {
    height: 25%;
    border: 1px solid;
}

.moduleName {
    margin-left: 20px;
    width: 80%;
    height: 100%;
    font-size: 18px;
    background-color: #f0f0f5;
    border: 1px dashed;
    border-radius: 3px;
}

.module img {
    margin-right: 20px;
    float: right;
}

.module {
    position: relative;

    width: 100%;
    height: 30%;
}

.group {
    visibility: hidden;
}

#selection {
    position: static;
    margin-top: 30px;
    margin-left: 80px;
    width: 310px;
    height: 50px;

}

#selection div {

    width: 60px;
    height: 30px;
    border: 3px solid;
    border-radius: 50%;
    float: left;
    margin: 5px;
    padding-left: 25px;
}

#selection div img {
    width: 30px;
}

