<template name="chooseVenue">
    <div id="body">
        {{getStudentsAndModules}}
        <h1>Select A Exam Hall Venue</h1>

        <div id="numOfStu"><h3>Number of students:</h3>
            <p>{{> number}}</p></div>

        <div id="venue">

            {{#each getVenue}}
                {{> venueButton}}
            {{/each}}


        </div>

        <div id="next">

            <img id="previousButton" src="/images/backward.png" class="img-rounded" width="50"/>
            <img id="nextButton" src="/images/forward.png" class="img-rounded" width="50"/>

        </div>
    </div>
</template>

<template name="venueButton">
    {{#if hasEnoughCapacity capacity}}
        <button type="button" id="{{_id}}" class="btn btn-default btn-block buttonWrap">

            <div id="{{_id}}" class="venueName">{{name}}</div>
            <div id="{{_id}}">{{> number}}/{{capacity}}</div>
        </button>

    {{else}}
        <button type="button" id="{{_id}}" class="btn btn-danger btn-block buttonWrap" disabled>

            <div id="{{_id}}" class="venueName">{{name}}</div>
            <div id="{{_id}}">{{> number}}/{{capacity}}</div>
        </button>
    {{/if}}
</template>

<template name="number">
    {{{numOfStudents}}}
</template>