<template name="myPlan">

    <div id="body">
        <h1>My Saved Plans</h1>

        <form class="savePlanform">
            <div id="box">
                <h4>Upload Saved File :</h4>
                <input type="file" name="file" id="file" class="inputfile"
                       data-multiple-caption="{count} files selected" multiple/>
                <label for="file"><img src="/images/fileuploadicon.png" width="35">
                    <span>Choose a file&hellip;</span></label>
                <div id="submitFile"><input type="submit" value="submit" class="btn btn-default"></div>
            </div>

        </form>


        <div id="venuePlan">
            <h3>Previous Plan</h3>
            <div id="savePlanlist">

                {{#each getSavedPlans}}
                    {{> savedPlan}}
                {{/each}}
            </div>
        </div>


    </div>
</template>
<template name="savedPlan">

    <button type="button" id="{{_id}}" class="buttonSave">
        <!-- <img src="/images/floorplan1.jpg" id="planBackground"> -->
        <p id="planName"><span><img src="/images/planIcon.png" width="35"></span>{{planName}} - {{createdBy}}</p>
        <!-- <img id="venueImg" src="/images/venue.png"> -->
    </button>
</template>