<template name="newPlan">
    <div id="body">
        <h1>Select the Modules</h1>
        <form id="chooseModulesForm" class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-md-2" for="month">Month:</label>
                <div class="col-md-10">
                    <select name="date" class="form-control">
                        <option value="January">January</option>
                        <option value="May">May</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                    </select>
                    <input type="number" name="day" min="1" max="31" placeholder="31" required class="form-control">
                    <input type="number" name="year" min="2016" max="2028" placeholder="2016" required
                           class="form-control">
                </div>
            </div>

            <div class="form-group">

            </div>
            <!--  <div class="form-group">

             </div> -->
            <span class=br>{{{breakLine}}}</span>
            <div class="form-group">
                <label class="control-label col-md-2" for="time">Time:</label>
                <input type="number" name="hour" min="1" max="24" placeholder="13" required class="form-control">
                <input type="number" name="minute" min="0" max="60" placeholder="45" required class="form-control">
            </div>
            <span class=br>{{{breakLine}}}</span>
            <div class="form-group">

                <label class="control-label col-md-2">Department:</label><select style="width:370px" name="filter"
                                                                                 onchange="FilterStudentSets(swsform)">

                <option value="">All Departments</option>
                <option value="BBUS">BBUS Business Studies</option>
                <option value="BFMP">BFMP - Management &amp; Financial Studies</option>
                <option value="BHOS">BHOS - Hospitality Studies</option>
                <option value="BHUM">BHUM - Humanities</option>
                <option value="EBEN">EBEN - Department of the Built Environment</option>
                <option value="EBSV">EBSV - Building &amp; Surveying</option>
                <option value="EEME">EEME - Electronics &amp; Mechanical Engineering</option>
                <option value="EETR">EETR - Engineering Trades</option>
                <option value="ICAM">ICAM - Department of Creative Arts, Media &amp; Music</option>
                <option value="ICSM">ICSM - Department of Computing Science &amp; Mathematics</option>
                <option value="IVHC">IVHC - Department of Visual &amp; Human-Centred Computing</option>
                <option value="NGEN">NGEN - Applied Sciences</option>
                <option value="NNUR">NNUR - Nursing, Midwifery and Health Studies</option>
            </select>

            </div>
            <span class=br>{{{breakLine}}}</span>
            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <select name="displayModules" width="500" style="width: 500px" size="12" multiple id="displayModules">
                    {{#each modules }}
                        {{> modulesT}}
                    {{/each}}
                </select>
            </div>
            <!--    <div class="form-group">
                   <input type="submit" style="background:url('/images/forward.png');" value="Submit">
               </div> -->
            <!-- div id="next">
        <a>
              <img src="/images/forward.png" class="img-rounded" width="50" />
        </a>
    </div>
           -->

            <button type="submit" class="btncls"><img src="/images/forward.png" class="img-rounded" width="50"/>
            </button>

        </form>

    </div>
</template>
<template name='modulesT'>
    <option value="{{_id}}">
        {{modulesCode}} : {{modulesName}}
    </option>

</template>
    
    